[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = SOEUN47RAKSA
	email = 137192083+SOEUN47RAKSA@users.noreply.github.com
